<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">New recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <!-- <a 
        href="#" 
        class="list-group-item clearfix" 
        *ngFor="let recipe of recipes">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
            <span class="pull-right">

                <img 
                    src="{{recipe.imagePath}}" 
                    [src]="recipe.imagePath"
                    alt="{{recipe.name}}" 
                    class="img-responsive" 
                    style="max-height: 50px;">
                </span>
            </a> -->

            <!-- Re: the 'src' property above ... 
                
                I've included two ways to handle data-binding -

                1st: string interpolation (with the vanilla HTML attribute).
                2nd: property-binding.

                I spent an hour trying to figure out what the difference was. At best, ChatGPT told me that the first (string interp) "sets the *attribute* initially", and the second (property binding) "updates the *property* to a current state" 
                
                ... when I tried to get a disambiguation between property and attribute, I hit a wall. 
                
                So, for all intents and purposes, these do the same thing in this case, and the latter, when combined with `(ngModel)` (which would be `[(ngModel)]`) allows for two-way data binding. 
            -->

        <!-- 
            By Section #6, we moved the above code to the child component `recipe-item.component.html` (in order to demonstrate the flow of data)
        -->
        <app-recipe-item *ngFor="let recipe of recipes" [theRecipe]="recipe" (recipeSelected)="onRecipeSelected(recipe)">Loading recipe item ...</app-recipe-item>
    </div>
</div>